html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#map {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.logo {
	height: 1.5em
}

#navbarDiv{
	height:0px
}

.dropdown-toggle{
	width:100px
}

.accordion-button{
	padding: 0.5rem 1.25rem !important
}

.accordion-body{
	padding: 0.5rem 0rem !important
}

/*.dropdown-divider{
	margin: 0 0 !important
}*/